<form class="form-horizontal well" ng-init="getUser()">
  <fieldset>
    <legend><a href="#/directory"> Directory </a> &gt; {{user.displayName}}</legend>
    <br>
    <uib-tabset>
        <uib-tab heading="Personal">
          <br>
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.email" readonly >
      </div>
    </div>
    <div class="form-group">
      <label for="inputDisplayName" class="col-lg-2 control-label">Display Name</label>
      <div class="col-lg-5">
      <input required type="text" class="form-control" placeholder="Display Name" ng-model="user.displayName" readonly >
    </div>
  </div>
    <div class="form-group">
      <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-5">
      <input required type="text" class="form-control" placeholder="First Name" ng-model="user.firstName" readonly >
    </div>
  </div>
    <div class="form-group">
      <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-5">
      <input required type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName" readonly >
    </div>
  </div>

    <!--<div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Checkbox
          </label>
        </div>
      </div>
    </div>-->
    <div class="form-group">
      <label for="textAreaBio" class="col-lg-2 control-label">Bio</label>
      <div class="col-lg-5">
        <textarea class="form-control" rows="3" id="textArea" ng-model="user.bio" readonly ></textarea>
      </div>
    </div>
    <!--<div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>-->
  </uib-tab>
  <uib-tab heading="Contact">
    <br>
    <div class="form-group">
      <label for="inputWorkPhone" class="col-lg-2 control-label">Work</label>
      <div class="col-lg-5">
      <input name="workPhone" type="text" class="form-control" placeholder="Work Telephone" ng-model="user.workPhone" readonly >
    </div>
  </div>
  <div class="form-group">
    <label for="inputMobilePhone" class="col-lg-2 control-label">Mobile</label>
    <div class="col-lg-5">
    <input name="mobilePhone" type="text" class="form-control" placeholder="Mobile Telephone" ng-model="user.mobilePhone" readonly>
  </div>
</div>
<div class="form-group">
  <label for="inputHomePhone" class="col-lg-2 control-label">Home</label>
  <div class="col-lg-5">
  <input name="homePhone" type="text" class="form-control" placeholder="Home Telephone" ng-model="user.homePhone" readonly >
</div>
</div>
<div class="form-group">
  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
  <div class="col-lg-5">
    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" readonly >
  </div>
</div>

  </uib-tab>
    <uib-tab heading="Organization">
      <br>
      <div class="form-group">
        <label for="inputDepartment" class="col-lg-2 control-label">Department</label>
        <div class="col-lg-5">
          <input name="department" type="text" class="form-control" id="inputDepartment" placeholder="Department" ng-model="user.department" readonly >
        </div>
      </div>
      <div class="form-group">
        <label for="inputTeam" class="col-lg-2 control-label">Team</label>
        <div class="col-lg-5">
          <input name="team" type="text" class="form-control" id="inputTeam" placeholder="Team" ng-model="user.team" readonly >
        </div>
      </div>
      <div class="form-group">
        <label for="inputManager" class="col-lg-2 control-label">Manager</label>
        <div class="col-lg-5">
          <input name="manager" type="text" class="form-control" id="inputManager" placeholder="Manager" ng-model="user.manager" readonly >
        </div>
      </div>
    </uib-tab>
  </uib-tabset>

  </fieldset>
</form>
